<header class="bg-dark-blue flex flex-row items-center justify-between relative">
    <div class="container flex flex-row items-center justify-between xl:px-4 py-3 md:py-6 lg:py-10">
        <a href="/">

        </a>
        <ul class="flex-row items-center justify-between hidden xl:flex">
            <li class="mx-3">

            </li>
            <li class="mx-3">

            </li>
            <li class="mx-3">

            </li>
            <li class="mx-3">

            </li>
            <li class="mx-6">

            </li>
        </ul>
    </div>
    <button id="nav-trigger" class="bg-light-blue text-white h-[49px] md:h-[78px] flex flex-row items-center justify-between px-5 xl:hidden">
        <span class="mr-2 md:mr-3 md:text-lg font-bold">Menu</span> {% include '_includes/svg/menu.svg' %}
    </button>
    <ul id="mobile-nav" class="mobile-nav hidden">
        <li>

        </li>
        <li>

        </li>
        <li>

        </li>
        <li>

        </li>
        <li>

        </li>
    </ul>
</header>