{% extends '_layouts/_baseLayout.twig' %}

{% set categories = craft.categories.group('agentCategories').all() %}
{% block content %}

	<main class="background-yellow-orange h-[200vh]">
		<section class="p-8 md:p-16 lg:p-24">
			<div class="border-2 border-[#03363D]">
				<div class="bg-[#FFF7ED] p-6 md:p-8 lg:p-10 text-center">
					<h4 class="text-[#03363D] text-xl md:text-2xl lg:text-3xl font-bold">{{entry.headline}}</h4>

				</div>
			</div>
		</section>
	</main>

{% endblock %}
