/* 1. base */
@import 'tailwindcss/base';

/* 2. components */
@import 'tailwindcss/components';
@import 'backgrounds/backgroundGradients.pcss';
@import 'swiper/base.pcss';

/* 3. utilities */
@import 'tailwindcss/utilities';